{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<nav>
  <h2>Categories</h2>
  <ul>
    {% for i in categories %}
    <li>
      <a href = "{{url_for('showCategories', merchandise_id = i.id)}}" style="color:black">{{i.name}}</a>
    </li>
    {% endfor %}
  </ul>
</nav>
<article class="maxheight">
  <h2>Recent Added</h2>
  <ul>
    {% for i in items %}
    <li>
      <a href = "{{url_for('showCategories',merchandise_id=i.merchandise_id, categories_id=i.id)}}"style="color:black">{{i.name}} - {{i.categories.name}}</a>
    </li>
    {% endfor %}
  </ul>
  </br></br>
</article>
<footer>

</footer>
</body>
</html>
{% endblock %}